<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
   <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2>About us</h2>
        <p>Welcome to the about page! This is where you can learn more about us and what this blog is all about.</p>
        <p>We're passionate about sharing knowledge and experiences through writing. Thank you for visiting!</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>